extends head 
block style
    style
        include ../static/entry.css
        include ../static/canteen.css
    script 
        include ../static/account.js
block nav 
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            i(style="fontsize=50px", class="fa fa-bank")
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="#") contact
    script(type='text/javascript')
        let rollNo=#{rollNo}
        let password=#{password}
        console.log(rollNo)
        console.log(password)
    section.items
        h1 juicePoint of vasavi 
        .i 
            .type 
                h3 item 
                h3.h4 price 
                h3 purchage 
            .item 
                .img
                    img(src="https://cdn.pixabay.com/photo/2021/10/06/16/06/smoothie-6686147_960_720.png", alt="")
                h3 sapota juice
                h3.h4 25/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=sapota juice&price=25&rollNo=${rollNo}&password=${password}&div=J` method="post")
                    button.btn.btn3#btn3(type="button",onclick="transfer()") Buy now
                    button.btn.btn4#btn4(type="submit") confirm 
            .item 
                .img
                    img(src="https://cdn.pixabay.com/photo/2014/04/05/11/29/banana-315885__340.jpg", alt="")
                h3 banana juice
                h3.h4 25/-
                //- button.btn.btn1(type="button") total 
                form(action=`/buy?item=banana&price=25&rollNo=${rollNo}&password=${password}&div=J` method="post")
                    button.btn.btn3#btn5(type="button",onclick="transfer2()") Buy now
                    button.btn.btn4#btn6(type="submit") confirm 
            .item 
                .img(style="background-color:white")
                    img(src="https://cdn.pixabay.com/photo/2021/06/03/18/35/bonnet-6307827_960_720.png", alt="")
                h3 oreo
                h3.h4 50/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=orio&price=50&rollNo=${rollNo}&password=${password}&div=J` method="post")
                    button.btn.btn3#btn7(type="button",onclick="transfer3()") Buy now
                    button.btn.btn4#btn8(type="submit") confirm 
            .item 
                .img
                    img(src="https://cdn.pixabay.com/photo/2017/05/29/19/37/smoothie-2354633__340.jpg", alt="")
                h3 grapes juice
                h3.h4 30/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=graphs juice&price=30&rollNo=${rollNo}&password=${password}&div=J` method="post")
                    button.btn.btn3#btn9(type="button",onclick="transfer4()") Buy now
                    button.btn.btn4#btn10(type="submit") confirm 
    

        
