extends head 
block style 
    style 
        include ../static/entry.css
        include ../static/orders.css
        include ../static/orders2.css
block nav 
    script(type='text/javascript')
        let rollNo=#{rollNo};
        let password=#{password};
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            i(style="fontsize=50px", class="fa fa-bank")
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="/update") contact
    .orders 
        h1 orders
        .order 
            .type 
                h3 item 
                h3 price 
                h3 order 
                h3 name 
                h3 rollNo
            each i, index in order
                .box
                    li=index
                    h4  #{i.item}
                    h4 #{i.price}
                    h4 #{i.id}
                    h4  #{i.name}
                    h4 #{i.rollNo}
                    
        