extends head 
block style
    style
        include ../static/entry.css
        include ../static/canteen.css
    script 
        include ../static/account.js
block nav 
    section.nav 
        .logo 
            img(src='https://vce.ac.in/img/vlogo%20-%20Copy.gif')
            i(style="fontsize=50px", class="fa fa-bank")
            h5 PIN BANK OF VASAVI
        ul 
            li 
                a(href="/") home
            li 
                a(href="#") about us
            li 
                a(href="#") contact
    script(type='text/javascript')
        let rollNo=#{rollNo}
        let password=#{password}
        console.log(rollNo)
        console.log(password)
    section.items
        h1 Stationary of vasavi 
        .i 
            .type 
                h3 item 
                h3 price 
                h3 purchage 
            .item
                .img 
                    img(src="https://cdn.pixabay.com/photo/2016/10/05/17/11/desk-1717161_960_720.png", alt="")
                h3 N-book
                h3.h4 40/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=white note book&price=40&rollNo=${rollNo}&password=${password}&div=S` method="post")
                    button.btn.btn3#btn3(type="button",onclick="transfer()") Buy now
                    button.btn.btn4#btn4(type="submit") confirm 
            .item 
                .img 
                    img(src="https://cdn.pixabay.com/photo/2019/10/20/18/19/fountain-pen-4564427_960_720.png", alt="")
                h3 B-pen
                h3.h4 10/-
                //- button.btn.btn1(type="button") total 
                form(action=`/buy?item=pen cello blue&price=10&rollNo=${rollNo}&password=${password}&div=S` method="post")
                    button.btn.btn3#btn5(type="button",onclick="transfer2()") Buy now
                    button.btn.btn4#btn6(type="submit") confirm 
            .item
                .img
                    img(src="https://cdn.pixabay.com/photo/2014/04/02/16/30/ruler-307509_960_720.png", alt="")
                h3 scale
                h3.h4 20/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=drafter&price=20&rollNo=${rollNo}&password=${password}&div=S` method="post")
                    button.btn.btn3#btn7(type="button",onclick="transfer3()") Buy now
                    button.btn.btn4#btn8(type="submit") confirm 
            .item 
                .img
                    img(src="https://cdn.pixabay.com/photo/2012/04/18/14/50/pencil-37254__340.png", alt="")
                h3 pencil
                h3.h4 9/-
                //- button.btn.btn1(type="button") total  
                form(action=`/buy?item=pencil&price=9&rollNo=${rollNo}&password=${password}&div=S` method="post")
                    button.btn.btn3#btn9(type="button",onclick="transfer4()") Buy now
                    button.btn.btn4#btn10(type="submit") confirm 
            //- .item 
            //-     .img
            //-         img(src="https://cdn.pixabay.com/photo/2017/02/05/21/37/soda-2041273_960_720.jpg", alt="")
            //-     h3 tin bottle
            //-     h3.h4 200/-
            //-     //- button.btn.btn1(type="button") total  
            //-     form(action=`/buy?item=tinbottle&price=200&rollNo=${rollNo}&password=${password}&div=S` method="post")
            //-         button.btn.btn3#btn11(type="button",onclick="transfer5()") Buy now
            //-         button.btn.btn4#btn12(type="submit") confirm 
    

        
